include mixins.pug

link(rel="stylesheet" href="./resume.css")
script(src="https://unpkg.com/feather-icons")

.grid
  header
    h1
      | Romain Guilloteau
      span Senior Full Stack Engineer
  main
    section
      h2 Experiences
      +timeline([
        {
          company: 'BuyCo',
          url: 'https://buyco.co/',
          title: 'Lead Software Engineer - Backend Software Engineer',
          location: 'Marseille',
          locationType: 'remote',
          from: '2021',
          description: `Originally brought in for my expertise on projects
            architecture, Ruby on Rails and to enforce good practices, I'm now
            the lead of a team dedicated to the public APIs and shipment
            tracking.`
        }, {
          company: 'Swile',
          url: 'https://www.swile.co/',
          title: 'Innovation Team Leader - Software Engineer',
          location: 'Montpellier',
          locationType: 'on site',
          from: '2018',
          to: '2021',
          description: `I worked on the food delivery platform when the company
            was named Lunchr. When it shifted to a neobank, I moved on the
            affiliates side and payment networks, of which I became a lead.`
        }, {
          company: 'Codeur',
          url: 'https://www.codeur.com/',
          title: 'Lead Developer and Software Architect',
          location: 'Annecy',
          locationType: 'hybrid remote',
          from: '2015',
          to: '2018',
          description: `I built Graphiste.com (a designer job board) and
            Facture.net (an invoicing tool) from the ground up and implemented
            some major features and rewrites for their other websites.`
        }, {
          company: '1Year1Book',
          url: 'https://www.1year1book.com/',
          title: 'Lead developer',
          location: 'Paris',
          locationType: 'hybrid remote',
          from: '2013',
          to: '2014',
          description: `I created from scratch the new version of their SaaS
            social network, as-well as the front facing website and internal
            tools used to boot and configure an instance and to monitor each of
            them.`
        }
      ])
    footer
      p
        | Check out the source code of this resume:
        |
        a(href="https://github.com/rubyistdotjs/resume")
          | github.com/rubyistdotjs/resume

  aside
    section
      h2 Contact
      +iconList([
        {
          icon: 'map-pin',
          text: 'Lille, France'
        }, {
          icon: 'smartphone',
          href: 'tel:+33600000000',
          text: '+33 6 00 00 00 00'
        }, {
          icon: 'mail',
          href: 'mailto:email@email.dev',
          text: 'email@email.dev'
        }
      ])
    section
      h2 Links
      +iconList([
        {
          icon: 'link',
          href: 'https://romainguilloteau.dev/',
          text: 'romainguilloteau.dev'
        }, {
          icon: 'linkedin',
          href: 'https://www.linkedin.com/in/romainguilloteau/',
          text: 'linkedin.com/in/romainguilloteau'
        }, {
          icon: 'github',
          href: 'https://github.com/rubyistdotjs',
          text: 'github.com/rubyistdotjs'
        }
      ])
    section
      h2 Languages
      +languageList([
        { name: 'French', proficiency: 'Native' },
        { name: 'English', proficiency: 'Fluent' },
        { name: 'Dutch', proficiency: 'Beginner' },
      ])
    section
      h2 Education
      +educationList([
        {
          diploma: 'Multimedia Developer (license)',
          details: "2011 - 2014 at L'Ecole Multimédia in Paris"
        }, {
          diploma: 'Scientific Baccalaureate',
          details: '2007 - 2010 at Lycée Lamarck in Albert'
        }
      ])

script feather.replace()
