/* Variables ---------------------------------------------------------------- */

:root {
  --font-sans: "Public Sans";

  --black: #000;
  --grey-dark: #2a2a2a;
  --grey: #808080;
  --grey-light: #f0f0f0;

  --text-font-size: 0.875rem;

  --gutter-size: 1.5rem;
  --mugshot-size: 6.5rem;
}

/* Grid --------------------------------------------------------------------- */

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
}

.col-1 {
  grid-column: 1 / 6;
  padding: var(--gutter-size);
  overflow: hidden;
}

.col-2 {
  grid-column: 6 / 9;
  padding: var(--gutter-size);
  overflow: hidden;
}

/* Scaffolding -------------------------------------------------------------- */

body {
  color: var(--grey-dark);
  font-size: var(--text-font-size);
  font-family: var(--font-sans);
  line-height: 1.25;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: auto;
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  border-left: 1px solid var(--grey-light);
}

section {
  margin-bottom: calc(var(--gutter-size) * 1.5);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Typography --------------------------------------------------------------- */

h1,
h2,
h3 {
  color: var(--black);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: calc(var(--gutter-size) * 0.875);
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.05rem;
}

/* Header ------------------------------------------------------------------- */

.header-title,
.header-mugshot {
  border-bottom: 1px solid var(--grey-light);
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.header-title>span {
  color: var(--grey);
  font-size: 2.15rem;
  font-weight: 800;
  line-height: 1;
}

.header-mugshot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mugshot img {
  width: var(--mugshot-size);
  height: var(--mugshot-size);
  border: 1px solid var(--grey-light);
  padding: 0.15rem;
  border-radius: 999rem;
}

/* Timeline ----------------------------------------------------------------- */

.timeline-item:not(:last-child) {
  margin-bottom: calc(var(--gutter-size) * 0.55);
}

.timeline-item span {
  color: var(--grey);
  font-size: 1rem;
  font-weight: 500;
}

.timeline-item-body {
  margin: calc(var(--gutter-size) / 5) 0 0;
}

.timeline-item-body p {
  line-height: 1.45;
  padding: 0;
  margin: 0;
}

/* Icon list ---------------------------------------------------------------- */

.icon-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.35rem;
}

.icon-list-item:last-child {
  margin-bottom: 0;
}

.icon-list-item>svg {
  color: var(--grey-dark);
  width: var(--text-font-size);
  margin-right: 0.4rem;
}

/* Skill list --------------------------------------------------------------- */

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  margin: 0 0 0.5rem;
  list-style: none;
}

.skill-list:last-child {
  margin: 0;
}

.skill-list li {
  margin-bottom: 0.35rem;
}

/* Language list ------------------------------------------------------------ */

.language-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.language-list-item:last-child {
  margin-bottom: 0rem;
}

.language-list-item span:before {
  content: "-";
  margin: 0.2rem;
}

.language-list-item span {
  color: var(--grey);
}

.language-list-item-flag {
  width: var(--text-font-size);
  height: var(--text-font-size);
  margin-right: 0.4rem;
}

/* Footer ------------------------------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  color: var(--grey);
  font-size: 0.7rem;
}
