include mixins.pug

link(rel="stylesheet" href="./resume.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Public+Sans:400,500,600,700,800,900&display=swap")
script(src="https://unpkg.com/feather-icons")

.grid
  .header-title.col-1
    h1 Romain Guilloteau
    span Senior Full Stack Developer
  .header-mugshot.col-2
    img(src='images/mugshot.jpg')

  main.col-1
    section
      h2 Experience
      +timelineItem(
        'Software Engineer',
        'Swile',
        'Montpellier',
        '2018'
      )
        p.
          First, responsible for setting up Big Data tools and strategies while
          developing new features for the food ordering app (React and Ruby).
          Then architect the shift to Node.js and create from scratch a flexible
          invoicing and payout center. Finally create from scratch the card
          payment identification and categorization system. Lead of the
          Loop Team and Node.js referent.
      +timelineItem(
        'Lead developer & Software architect',
        'Codeur',
        'Annecy',
        '2015',
        '2018'
      )
        p.
          Starting from scratch, development and design of Facture.net,
          Graphiste.com and several small marketing app.
          <br />
          Maintain and develop new features for the apps cited above and for
          another existing app : Redacteur.com.

      +timelineItem(
        'Lead developer',
        '1Year1Book',
        'Paris',
        '2013',
        '2014'
      )
        p.
          Starting from scratch, development and design of the new
          version of a SaaS social network with a handfull of tools allowing
          the sales to easily generate and configure an instance tailored to
          the client needs and check it's health.
      +timelineItem('Freelance', null, 'Paris', '2012', '2013')
        p.
          Along side a designer, development of applications and tools for a
          few Parisian companies and statups.
    section
      h2 Diplomas
      +timelineItem('Multimedia Developer (Licence)', "L'École Multimédia", 'Paris', '2011', '2014')
      +timelineItem('Scientific Baccalaureate', 'Lycée Lamarck', 'Albert', '2007', '2010')
    footer
      p
        | Made with ReLaXed, check out the source code : 
        a(href="https://github.com/rubyistdotjs/resume")
          | github.com/rubyistdotjs/resume

  aside.col-2
    section
      h2 Contact
      ul.icon-list
        +iconListItem('map-pin')
          | Montpellier, France
        +iconListItem('smartphone')
          a(href="tel:+33600000000") +33 6 00 00 00 00
        +iconListItem('mail')
          a(href="mailto:hello@romainguilloteau.dev")
            | hello@romainguilloteau.dev
    section
      h2 Links
      ul.icon-list
        +iconListItem('link')
          a(href="https://www.romainguilloteau.dev/") romainguilloteau.dev
        +iconListItem('linkedin')
          a(href="https://www.linkedin.com/in/romainguilloteau/")
            | linkedin.com/in/romainguilloteau/
        +iconListItem('github')
          a(href="https://github.com/rubyistdotjs") github.com/rubyistdotjs
    section
      h2 Languages
      ul.language-list
        +languageListItem('fr', 'French', 'Native')
        +languageListItem('uk', 'English', 'Fluent')
    section
      h2 Tech
      +skillList('JavaScript', 'TypeScript', 'Node.js', 'React', 'Vue.js', 'Ruby on Rails')
      +skillList('PostgreSQL', 'MySQL', 'MongoDB', 'Redis')
      +skillList('Stripe', 'Braintree', 'PayPal')
      +skillList('AWS', 'Heroku', 'Netlify', 'Kafka')

script feather.replace()
